body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #2C2F34;
}

h1 {
  font-size: 25px;
  font-weight: 700;
  color: #FFFFFF;

}

h2 {
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  margin-top: 15px;
  margin-bottom: 20px;
}

.topic {
  float: left;
}

.chat_topic {
  padding: 10px 50px 0px 25px;
  margin-right: 30%;
  margin-bottom: 0px;
}

header {
  width: 100%;
  height: 100px;
  margin: 0 auto;
}

.logo {
  float: left;
  margin-top: 20px;
  margin-left: 40px;
}

.global-nav {
  float: right;
  margin-top: 30px;
  margin-right: 1%;
}

.global-nav li {
  float: left;
  margin-right: 30px;
  list-style: none;
  font-size: 18px;
  font-weight: 700;
}

.global-nav li a {
  color: #FFFFFF;
  text-decoration: none;
}

.global-nav li a:hover {
  border-bottom: 3px solid #FFFFFF;
  padding-bottom: 3px;
  text-decoration: none;
}

.form {
  background-color: #36393F;
  padding: 30px 15%;
  padding-bottom: 50px;
}

.content {
  background-color: #36393F;
  padding: 30px 15%;
  padding-bottom: 50px;
  min-height: 40vh;
}

.form dl dt {
  width: 165px;
  padding: 10px 0;
  float: left;
  clear: both;
  color: #FFFFFF;
}

.form dl dd {
  padding: 13px 0;
}

.form dt {
  margin-top: 13px;
}

.button {
  margin-top: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  background: #55ce8d;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.button:hover {
  color: #fff;
  background: #3fa06c;
}

.button_topic {
  float: right;
  margin-bottom: 20px;
}

.content_index {
  height: 70px;
  margin: 0px;
}

.content_header {
  height: 110px;
  margin: 0px;
  background-color: #2C2F34;
  border-radius: 10px 10px 0px 0px;
}

.password_box{
  display: flex; /*アイコン、テキストボックスを調整する*/
  align-items: center; /*アイコン、テキストボックスを縦方向の中心に*/
  justify-content: center; /*アイコン、テキストボックスを横方向の中心に*/
  width: 70%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.password_inner{
  width: 100%;
  height: 100%;
  background-color: transparent; /*.password_boxの枠線お角一部被るため透明に*/
  position: relative;
}

#text1{
  position: absolute;
  z-index: 1; /*.password_stringよりも上に配置*/
  height: 100%;
  width: 100%;
  top: 0; left: 0; bottom: 0; right: 0;
  border: none; /*枠線非表示*/
  outline: none; /*フォーカス時の枠線非表示*/
  padding: 0 10px;
  font-size: 16px;
  background-color: transparent; /*後ろの.password_stringを見せるため*/
  box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
}

#text2{
  position: absolute;
  z-index: 1; /*.password_stringよりも上に配置*/
  height: 100%;
  width: 100%;
  top: 0; left: 0; bottom: 0; right: 0;
  border: none; /*枠線非表示*/
  outline: none; /*フォーカス時の枠線非表示*/
  padding: 0 10px;
  font-size: 16px;
  background-color: transparent; /*後ろの.password_stringを見せるため*/
  box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
}

#text4{
  position: absolute;
  z-index: 1; /*.password_stringよりも上に配置*/
  height: 100%;
  width: 100%;
  top: 0; left: 0; bottom: 0; right: 0;
  border: none; /*枠線非表示*/
  outline: none; /*フォーカス時の枠線非表示*/
  padding: 0 10px;
  font-size: 16px;
  background-color: transparent; /*後ろの.password_stringを見せるため*/
  box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
}

.fa-eye-slash{ /*アイコンに一定のスペースを設ける*/
  height: 20px;
  width: 20px;
  padding: 5px 5px;
}

.input {
  caret-color: #ffffff;
  color: #FFFFFF;
}

table{
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  border-spacing: 0;
}

table td{
  padding: 15px 0;
  text-align: center;
  vertical-align: middle;
}

table .left {
  text-align: left;
}

table .right {
  text-align: right;
  padding-right: 10px;
}

.table_topic {
  color: #FFFFFF; 
  text-decoration: none; 
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
}

.table_topic:hover {
  background-color: #2C2F34;
}

.table_date {
  color: #ffffff;
}

.red_side {
  color: #DF4A6D;
}

.blue_side {
  color: #4C8FFB;
}

.description {
  color: #d4d4d4;
  font-size: 13px;
  font-weight: 400;
  padding-left: 25px;
  padding-bottom: 16px;
}



.chat_text {
  width: 100%;
  margin: 0px 0px;
  padding: 0px 30px;
  background-color: #505257;
  max-height: 60vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.chat_content {
  display: flex;
  justify-content: center;
  max-height: 60vh;
}

.red{
  float: left;
  text-align: left;
  color:#FFFFFF;
  background-color: #DF4A6D;
  border-radius: 10px 10px 10px 0px;
  clear: both;
}

.blue{
  float: right;
  text-align: right;
  color:#FFFFFF;
  background-color: #4C8FFB;
  border-radius: 10px 10px 0px 10px;
  display: inline-block;
  clear: both;
}

.other{

}

.chat_area {
  padding: 5px 15px;
  margin: 10px;
}

.chat {
  width: 100%;
  height: 60vh;
  max-height: 100vh;
  background-color: #505257;
  border-radius: 10px;
  padding-bottom: 30px;
}

textarea {
  width: 70%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.content_input {
  text-align: center;
  padding: 0 40px;
  background-color: #505257;
  border-radius: 0px 0px 10px 10px;
  height: 100px;
  justify-content: center;
}


label {
  font-weight: 700;
}

.radio {
  padding-top: 30px;
  padding-right: 40px;
  float: left;
}

#group {
  padding-top: 20px;
  margin-right:0;
  display: flex;
}

#password_box {
  margin-right: 0;
  width: 75%;
  border-radius: 5px 0px 0px 5px;
}

.send_chat_button {
  float:right;
  margin:0;
  border-radius: 0px 5px 5px 0px;
}

.progress_back{
  display: block;
  width: 100%;
  height: 7px;
  background: #4C8FFB;
  position: relative;
  border-radius: 10px;
}
.progress_front{
  display: block;
  width: 50%;
  height: 7px;
  background: #DF4A6D;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}

.circle1 {
  width: 40px;
  height: 40px;
  border-radius:100%;
  text-align: center;
  line-height: 40px;
  background-color:  #DF4A6D;
  margin-right: 20px;
  margin-left: 20%;
  margin-top: 30px;
  text-decoration: none;
}

.circle2 {
  width: 40px;
  height: 40px;
  border-radius:100%;
  text-align: center;
  line-height: 40px;
  background-color:  #4C8FFB;
  margin-right: 20px;
  margin-top: 30px;
  text-decoration: none;
}

.tmp {
  display: flex;
}